*.iml
.gradle
/local.properties
/.idea/**
*.DS_Store
/build
/captures
.externalNativeBuild
PushSDK/build/**
app/bin
app/.classpath
PushSDK/bin/**
PushSDK/.settings/**
PushSDK/.project
PushSDK/.classpath
app/gen/**
ShareSDK/bin/**
ShareSDK/.settings/**
ShareSDK/.project
ShareSDK/.classpath
