*.iml
.gradle
/local.properties
/.idea/**
.DS_Store
/build
/captures
.externalNativeBuild
settings.gradle
PushSDK/build/**
app/bin
PushSDK/bin/**
PushSDK/.settings/**
PushSDK/.project
PushSDK/.classpath
app/project.properties
app/gen/**
app/build.gradle
gradle.properties
