*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/gradle.xml
.idea/modules.xml
settings.gradle
PushSDK/build/**
.idea/misc.xml
app/bin
PushSDK/bin/**
PushSDK/.settings/**
PushSDK/.project
PushSDK/.classpath
app/project.properties
app/gen/**
.idea/vcs.xml
app/build.gradle
gradle.properties