<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.umeng.soexample">


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_TASKS" />
	 <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:name="com.umeng.CommonApplication"
        android:allowBackup="false">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboard"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Wallpaper">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--统计SDK Demo相关 start-->
        <activity
            android:name="com.umeng.analytics.AnalyticsMainActivity"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar" />

        <activity
            android:name="com.umeng.analytics.dplus.AnalyticsHome"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar" />
        <activity
            android:name="com.umeng.analytics.dplus.WebviewAnalytic"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar" />
        <activity
            android:name="com.umeng.analytics.dplus.FragmentStack"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar" />
        <activity
            android:name="com.umeng.analytics.dplus.FragmentTabs"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar" />
        <activity
            android:name="com.umeng.analytics.game.GameAnalyticsHome"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar" />
        <!--统计SDK Demo相关 end-->

        <!--share demo 所有activity-->
        <activity
            android:name=".share.HomeActivity"
            android:configChanges="orientation|keyboard"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">

        </activity>
        <activity
            android:name=".share.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">

        </activity>
        <activity
            android:name=".share.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">

        </activity>
        <activity
            android:name=".share.GetInfoActivity"
            android:configChanges="orientation|keyboard"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">

        </activity>
        <activity
            android:name=".share.CheckActivity"
            android:configChanges="orientation|keyboard"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">

        </activity>
        <activity
            android:name=".share.ShareMenuActivity"
            android:configChanges="orientation|keyboard"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">

        </activity>
        <activity
            android:name=".share.InfoDetailActivity"
            android:configChanges="orientation|keyboard"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity
            android:name=".share.ShareDetailActivity"
            android:configChanges="orientation|keyboard"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <!--share 三方所有activity-->
        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".yxapi.YXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />


        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault" />
        <!-- wechat callback-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--dingding-->
        <activity
            android:name=".ddshare.DDShareActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- alipay callback-->
        <activity
            android:name=".apshare.ShareEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- vk -->
        <activity
            android:name="com.vk.sdk.VKServiceActivity"
            android:label="ServiceActivity"
            android:theme="@style/VK.Transparent" />
        <activity android:name="com.kakao.auth.authorization.authcode.KakaoWebViewActivity" />
        <!-- tencent -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- facebook -->
        <activity
            android:name="com.umeng.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--1104087112943046-->
        <provider
            android:name="com.umeng.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1266254913438718"
            android:exported="true" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!-- twitter -->
        <activity
            android:name="com.umeng.socialize.handler.TwitterWebActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58edcfeb310c93091c000be2"></meta-data>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="1fe6a20054bcef865eeb0991ee84525b" />
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask">
            <intent-filter>
                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="db-oz8v5apet3arcdy" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 分享结束 -->

        <!-- push start -->
        <activity android:name="com.umeng.message.example.SplashTestActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/Theme_Umeng_Push_Splash" />
        <activity
            android:name="com.umeng.message.example.MainActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <service android:name="com.umeng.message.example.NotificationService" />
        <service android:name="com.umeng.message.example.MyPushIntentService" />
        <service android:name="com.umeng.message.example.UmengNotificationService" />
        <service android:name="com.umeng.message.example.MyNotificationService" />

        <receiver android:name="com.umeng.message.example.NotificationBroadcast" />
        <!-- push end -->
        <!--error Demo相关 start-->
        <activity
            android:name="com.umeng.error.ErrorActivity"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar" />
        <!--error Demo相关 end-->
    </application>

</manifest>